// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* STYLES FOR WELCOME */



.jumbotron {
   height: 100vh;
 }

 /* Adds background image */
 .welcome {
   background: url('shelf.jpg') no-repeat center center;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .greeting  {
   color: white;
   text-align: center;
 }
 /* Centers login & sign in buttons */
 // .enter {
 //   text-align: center;
 // }
