// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* STYLES FOR WELCOME */

.jumbotron {
   height: 100vh;
 }

 /* Adds background image */
 .welcome {
   background: url('shelf.jpg') no-repeat center center;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: .6; 
    }
 }

 .greeting  {
   color: white;
   text-align: center;
   text-shadow: 1px 1px 1px #000;
   z-index: 10;
 }
