<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>


<p>
  <strong>Cover</strong>
  <%= image_tag(@book.image) %>
</p>


<p>
  <strong>Author:</strong>
  <%= @book.author.name %>
</p>
